{% extends 'main/base.html' %}

{% block specificStyle %}
    <script src="https://kit.fontawesome.com/5b6c464799.js" crossorigin="anonymous"></script>
    
    <style>
        .item-btn {
            width: 500px;
            border: none;
            text-align: left;
        }

        .btns {
            background: rgba(97, 97, 97, 0.164);
        }

        .completed {
            background: rgb(85, 201, 89, 0.15);
        }

        .delete-btn {
            color: red;
        }

        .update-btn {
            color: blue;
        }
    </style>

{% endblock %}

{% block title %}List{% endblock %}

{% block content %}
    <div class="maindiv">
        <h1 style="padding-left: 10px;">{{ls.name}}</h1>

        <form method="post" action="#" class="form-group">
            {% csrf_token %}
            {% for item in ls.item_set.all %}
                <div class="input-group mb-2">
                    <div class="input-group-prepend ">
                        <div class="input-group-text btns">
                            <button type="submit" name="d{{item.id}}" value="delete" style="margin-right: 10px; background: none; border: none;" class="delete-btn"><i class="fa-solid fa-trash-can"></i></button>
                            <button type="submit" name="u{{item.id}}" value="update" style="background: none; border: none;" class="update-btn"><i class="fa-solid fa-pen"></i></button></a>
                        </div>

                        <div class="input-group-text"  style="background-color: white;">
                            {% if item.checkComplete == True %}
                                <button type="submit" name="c{{item.id}}" value="clicked" class="form-control completed item-btn">{{item.txt}}</button>
                            {% else %}
                                <button type="submit" name="c{{item.id}}" value="clicked" class="form-control item-btn" style="background:none;">{{item.txt}}</button>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endfor %}
            
            <div class="input-group mb-3 mt-3">
                <div class="input-group-prepend">
                    <button type="submit" name="new" value="new" class="btn btn-outline-dark">New Item</button>
                </div>
                <input type="text" name='newItem'  style="width: 523px;">
            </div>            
        </form>
    </div>
{% endblock %}