{% extends 'main/base.html' %}

{% block title %}Update Item{% endblock %}

{% block content %}
    <div>
        <h1 class="mb-4" style="text-align: center;">Update</h1>

        <form method="post" action="" class="form-group" autocomplete="off">
            {% csrf_token %}
            <div class="input-group">
                <div class="input-group-prepend">
                    <input name="newtext" value="{{text}}">
                </div>
                
                <button type="submit" name="updated" value="updated" class="btn btn-outline-dark">Update</button>
            </div>
        </form>
    </div>
{% endblock %}