{% extends 'main/base.html' %}

{% block title %}View{% endblock %}

{% block specificStyle %}
    <style>
        .item-btn {
            width: 500px;
            font-size: 20px;
            margin-top: 20px;
        }
    </style>
{% endblock %}

{% block content %}
    <h1 style="text-align: center;">Todo Lists</h1>

    {% for td in user.todolist.all %}
        <button class="item-btn btn btn-outline-dark" onclick="window.location='/{{td.id}}';">{{td.name}}</button>
    {% endfor %}
{% endblock %}